.main-content {
  flex: 1;
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

header h1 {
  font-size: 26px;
}

.logout {
  text-decoration: none;
  color: #199af0;
  font-weight: bold;
  transition: 0.3s;
}

.logout:hover {
  color: #1f5f8b;
}

.cards1 {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.card1 {
  background: white;
  padding: 22px;
  width: 260px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.card1:hover {
  transform: translateY(-4px);
}

.card1 h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.number {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
}

.chart-box {
  background: white;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 10px;
}

@media (max-width: 900px) {
  .cards1 {
    flex-direction: column;
  }

  .card1 {
    width: 100%;
  }

  header h1 {
    font-size: 22px;
  }
}