.main {
  flex: 1;
  padding: 20px;
}

/* Top bar */
.top-bar {
  /* display: flex; */
  
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
    margin-left: 5;
    gap: 10px;
  /* flex: 1; */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.logout {
  margin-left: 900px;
  color: #2c6ed5;
  cursor: pointer;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* Buttons */
.btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #2c6ed5;
  color: #fff;
}

.btn-edit {
  background: #2c6ed5;
  color: #fff;
  margin-right: 5px;
}

.btn-delete {
  background: #e74c3c;
  color: #fff;
}

/* Table */
.table-container {
  background: #fff;
  border-radius: 10px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.table th {
  background: #f9fafc;
}
@media (max-width: 900px) {
  .sidebar {
    width: 200px;
  }

  .table th,
  .table td {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .top-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .logout {
    margin-left: 0;
    text-align: right;
  }

  .header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
