* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}



/* Layout */
.dashboard {
  display: flex;
  min-height: 100vh;
   background: #f5f7fa;
  color: #333;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #507aa4, #4b749e);
  color: white;
  padding: 25px 20px;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
  font-size: 22px;
  letter-spacing: 1px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 14px 15px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

.sidebar ul li:hover,
.sidebar ul .active {
  background: rgba(255, 255, 255, 0.15);
}

/* Main */
.main-content {
  flex: 1;
  padding: 30px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

header h1 {
  font-size: 26px;
}

.logout {
  text-decoration: none;
  color: #199af0;
  font-weight: bold;
  transition: 0.3s;
}

.logout:hover {
  color: #1f5f8b;
}

/* Cards */
.cards1 {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.card1 {
  background: white;
  padding: 22px;
  width: 260px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.card1:hover {
  transform: translateY(-4px);
}

.card1 h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.number {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
}

/* Chart */
.chart-box {
  background: white;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 10px;
}

/* ✅ TABLET */
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  header h1 {
    font-size: 22px;
  }
}

/* ✅ MOBILE */
@media (max-width: 700px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }

  .sidebar ul li {
    padding: 10px;
    font-size: 13px;
  }

  .main-content {
    padding: 20px;
  }
}
