header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index:100;
}
.logo{
    width: 80px;
    margin-left:-10% ;
}
.kk{
    display: flex;
    align-items: center;
    
}
.kk ul{
    margin-left: 25px;
    display: flex;
    gap: 22px;
    list-style: none;margin-left: 200px;
}
.kk ul a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px ;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    text-decoration: 0;
    position: relative;
}
.kk ul a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(80, 190, 245);
    transition: 0.1s ease-out;
    display: none;
}
.kk ul a:hover::after {
    width: 100%;
    display: block;
}
button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0;
    padding: 8px 15px;
    background-color: rgb(31, 138, 185);
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    z-index: 1;
    transition: 0.2s ease-out;
    
}
button span {
    font-family: 'Anton',sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
button:hover{
    transform: scale(1.15);
}
.lk{
    margin-top: 80px;
    background-image: url('photo.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height:calc(120vh - -20px) ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    
}
